header {
  position: relative;
  background-color: #c7d9ff;
}
header input[type=text] {
  background-color: #fff;
}

.header__top {
  border-top: 5px solid #253276;
  padding: 1.3125rem 1.1875rem 0.875rem;
  background-color: #c7d9ff;
}
.header__top * {
  background-color: #c7d9ff;
}
.header__top .header__top__language-button {
  position: absolute;
  right: 1.1875rem;
  padding: 0 1.1875rem 0 0.5rem;
  border-left: 1px solid blue;
}
.header__top .header__top__left-panel {
  position: absolute;
  left: 10rem;
  top: 1.6rem;
  font-size: 0.875rem;
}
.header__top .header__top__right-panel {
  position: absolute;
  right: 6rem;
  top: 1.6rem;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  height: 4.5rem;
  font-size: 0.875rem;
  font-family: arial;
  background-color: #f5f5f5;
  box-shadow: 0 4px 3px -1px #eaeaea;
}
.menu label {
  padding: 1.5em;
  background-color: #f5f5f5;
}
.menu label span {
  padding: 2em;
  background-color: #f5f5f5;
  cursor: pointer;
}
.menu label a {
  background-color: #f5f5f5;
}
.menu label .fa-bars {
  font-size: 0.35rem;
}

.burger:checked ~ .menu__submenu {
  display: block;
  position: absolute;
}

.grid__main {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.5fr 1fr 2.5fr 0.5fr 1fr;
  grid-row-gap: 5rem;
  grid-template-areas: "grid__main_mini" "main__first-block_grid" "main__second-block_grid" "main__third-block_grid" "main__fourth-block_grid";
}

.grid__main_mini {
  grid-area: grid__main_mini;
}

.main__first-block_grid {
  grid-area: main__first-block_grid;
}

.main__second-block_grid {
  grid-area: main__second-block_grid;
}

.main__third-block_grid {
  grid-area: main__third-block_grid;
}

.main__fourth-block_grid {
  grid-area: main__fourth-block_grid;
}

.grid__main_mini {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 50% 10% 40%;
  grid-column-gap: 1.1rem;
  grid-row-gap: 2rem;
  grid-template-areas: "images__block grid__main_mini__service-block" "aktuell_top-panel immobiliensuche" "aktuell immobiliensuche";
  border-bottom: 50px solid;
  border-image: url("../../images/border.png");
  border-image-slice: 0 0 50 0;
}

.images__block {
  grid-area: images__block;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  overflow-x: scroll;
}

.grid__main_mini__service-block {
  grid-area: grid__main_mini__service-block;
}

.aktuell_top-panel {
  grid-area: aktuell_top-panel;
}

.aktuell {
  grid-area: aktuell;
}

.immobiliensuche {
  grid-area: immobiliensuche;
}

.main__first-block_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1.1rem;
  grid-row-gap: 2rem;
  grid-template-areas: "main__first-block_left-column main__first-block_center-column main__first-block_right-column" ". main__first-block__second-row_center-column main__first-block__second-row_right-column";
  border-bottom: 50px solid;
  border-image: url("../../images/border.png");
  border-image-slice: 0 0 50 0;
}

.main__first-block_left-column {
  grid-area: main__first-block_left-column;
}

.main__first-block_center-column {
  grid-area: main__first-block_center-column;
}

.main__first-block_right-column {
  grid-area: main__first-block_right-column;
}

.main__first-block__second-row_center-column {
  grid-area: main__first-block__second-row_center-column;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.main__first-block__second-row_center-column a {
  width: 100%;
}

.main__first-block__second-row_right-column {
  grid-area: main__first-block__second-row_right-column;
}

.main__second-block_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat 7 1fr;
  grid-column-gap: 1.1rem;
  grid-row-gap: 2rem;
  grid-template-areas: "main__second-block_left-column main__second-block_center-column main__second-block_right-column" ". main__second-block__second-row_center-column main__second-block__second-row_right-column" "main__second-block__third-row_left-column main__second-block__third-row_center-column main__second-block__third-row_right-column" ". main__second-block__fourth-row_center-column main__second-block__fourth-row_right-column" "main__second-block__fifth-row_left-column main__second-block__fifth-row_center-column main__second-block__fifth-row_right-column" "main__second-block__sixth-row_left-column main__second-block__sixth-row_center-column main__second-block__sixth-row_right-column" ". main__second-block__seventh-row_center-column main__second-block__seventh-row_right-column";
  border-bottom: 50px solid;
  border-image: url("../../images/border.png");
  border-image-slice: 0 0 50 0;
}

.main__second-block_left-column {
  grid-area: main__second-block_left-column;
}

.main__second-block_center-column {
  grid-area: main__second-block_center-column;
}

.main__second-block_right-column {
  grid-area: main__second-block_right-column;
}

.main__second-block__second-row_center-column {
  grid-area: main__second-block__second-row_center-column;
}

.main__second-block__second-row_right-column {
  grid-area: main__second-block__second-row_right-column;
}

.main__second-block__third-row_left-column {
  grid-area: main__second-block__third-row_left-column;
}

.main__second-block__third-row_center-column {
  grid-area: main__second-block__third-row_center-column;
}

.main__second-block__third-row_right-column {
  grid-area: main__second-block__third-row_right-column;
}

.main__second-block__fourth-row_center-column {
  grid-area: main__second-block__fourth-row_center-column;
}

.main__second-block__fourth-row_right-column {
  grid-area: main__second-block__fourth-row_right-column;
}

.main__second-block__fifth-row_left-column {
  grid-area: main__second-block__fifth-row_left-column;
}

.main__second-block__fifth-row_center-column {
  grid-area: main__second-block__fifth-row_center-column;
}
.main__second-block__fifth-row_center-column div {
  border-bottom: 1px solid #e0e0e0;
}

.main__second-block__fifth-row_right-column {
  grid-area: main__second-block__fifth-row_right-column;
}
.main__second-block__fifth-row_right-column div {
  border-bottom: 1px solid #e0e0e0;
}

.main__second-block__sixth-row_left-column {
  grid-area: main__second-block__sixth-row_left-column;
}

.main__second-block__sixth-row_center-column {
  grid-area: main__second-block__sixth-row_center-column;
}

.main__second-block__sixth-row_right-column {
  grid-area: main__second-block__sixth-row_right-column;
}

.main__second-block__seventh-row_center-column {
  grid-area: main__second-block__seventh-row_center-column;
}

.main__second-block__seventh-row_right-column {
  grid-area: main__second-block__seventh-row_right-column;
}
.main__second-block__seventh-row_right-column .fas, .main__second-block__seventh-row_right-column fa-angle-right {
  font-size: 0.8rem;
  position: relative;
  left: 0;
}

.main__third-block_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1.1rem;
  grid-row-gap: 2rem;
  grid-template-areas: "main__third-block_left-column main__third-block_center-column main__third-block_right-column" ". main__third-block__second-row_center-column main__third-block__second-row_right-column";
  border-bottom: 50px solid;
  border-image: url("../../images/border.png");
  border-image-slice: 0 0 50 0;
}

.main__third-block_left-column {
  grid-area: main__third-block_left-column;
}

.main__third-block_center-column {
  grid-area: main__third-block_center-column;
}

.main__third-block_right-column {
  grid-area: main__third-block_right-column;
}

.main__third-block__second-row_center-column {
  grid-area: main__third-block__second-row_center-column;
}

.main__third-block__second-row_right-column {
  grid-area: main__third-block__second-row_right-column;
}

.main__fourth-block_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 35% 35%;
  grid-column-gap: 1.1rem;
  grid-template-areas: "main__fourth-block_left-column main__fourth-block_center-column main__fourth-block_right-column" ". main__fourth-block__second-row_center-column main__fourth-block__second-row_right-column";
}

.main__fourth-block_left-column {
  grid-area: main__fourth-block_left-column;
}

.main__fourth-block_center-column {
  grid-area: main__fourth-block_center-column;
}

.main__fourth-block_right-column {
  grid-area: main__fourth-block_right-column;
}

.main__fourth-block__second-row_center-column {
  grid-area: main__fourth-block__second-row_center-column;
}

.main__fourth-block__second-row_right-column {
  grid-area: main__fourth-block__second-row_right-column;
}

.aktuell {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: scroll;
  padding: 1rem;
}
.aktuell div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.aktuell div div a {
  font-size: 0.85rem;
}
.aktuell img {
  width: 200px;
  height: 150px;
}

.aktuell_top-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 5px solid #e0e0e0;
  font-weight: 700;
  color: #253276;
}

.immobiliensuche {
  display: flex;
  flex-flow: row wrap;
}

.main__second-block__seventh-row_right-column {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.main__second-block__seventh-row_right-column a {
  width: 100%;
  font-size: 0.9rem;
}

/* second page main */
/* second page main */
/* second page main */
/* second page main */
/* second page main */
.Wall_grid {
  padding-left: 1rem;
  padding-bottom: 5rem;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  grid-column-gap: 4.5rem;
  grid-row-gap: 1rem;
  grid-template-areas: "Wall_grid__left-block Wall__grid__right-block" "Wall__grid__left-block_bottom Wall__grid__right-block";
}
.Wall_grid a {
  color: #003684;
}

.Wall__grid__left-block {
  grid-area: Wall_grid__left-block;
  display: flex;
  flex-flow: row wrap;
}
.Wall__grid__left-block div {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 100%;
}
.Wall__grid__left-block div h4 {
  padding-left: 0.5rem;
}
.Wall__grid__left-block div p {
  align-self: center;
}
.Wall__grid__left-block div img {
  width: 200px;
  height: 150px;
}

.Wall__grid__left-block_bottom {
  grid-area: Wall__grid__left-block_bottom;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.Wall__grid__left-block_bottom div {
  width: 33%;
}
.Wall__grid__left-block_bottom div img {
  width: 190px;
  height: 140px;
}

.Wall__grid__right-block {
  grid-area: Wall__grid__right-block;
  position: relative;
  right: 0;
}
.Wall__grid__right-block div {
  width: 300px;
  padding: 2rem 0 0 0;
}
.Wall__grid__right-block .buttons-block a {
  padding-bottom: 1rem;
}
.Wall__grid__right-block .buttons-block a span {
  position: relative;
  left: 0;
  font-size: 0.9rem;
  padding-right: 0.4rem;
  color: #b5050e;
}
.Wall__grid__right-block img {
  width: 90px;
  height: 60px;
}
.Wall__grid__right-block .camo_block {
  width: 300px;
  height: 200px;
}

.Wall__grid__right-block__mini-photo-grid_bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: scroll;
  padding: 1rem;
}
.Wall__grid__right-block__mini-photo-grid_bottom div {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.6rem 0 0.6rem;
}
.Wall__grid__right-block__mini-photo-grid_bottom div img {
  width: 140px;
  height: 100px;
}

.Wall_flex img {
  float: left;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.grid_footer {
  background-color: #253276;
  color: #c9cdde;
  font-size: 0.875rem;
  line-height: 1.42857;
  padding: 1rem;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr 2fr 2fr;
  grid-column-gap: 2rem;
  grid-template-areas: "grid_footer_top grid_footer_top" "grid_footer_left grid_footer_right" ". grid_footer_right";
}
.grid_footer a {
  color: #c9cdde;
}

.grid_footer_top {
  grid-area: grid_footer_top;
}
.grid_footer_top div {
  width: 65%;
}
.grid_footer_top div input {
  position: relative;
  left: 20rem;
  bottom: 1rem;
  width: 100%;
}

.grid_footer_left {
  grid-area: grid_footer_left;
}

.grid_footer_right {
  grid-area: grid_footer_right;
}

.grid_footer_right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 2rem;
  grid-template-areas: "grid_footer__right_left grid_footer__right_center grid_footer__right_right" "grid_footer__right__second-row_left grid_footer__right__second-row_center grid_footer__right__second-row_right";
}

.grid_footer__right_left {
  grid-area: grid_footer__right_left;
}

.grid_footer__right_center {
  grid-area: grid_footer__right_center;
}

.grid_footer__right_right {
  grid-area: grid_footer__right_right;
}

.grid_footer__right__second-row_left {
  grid-area: grid_footer__right__second-row_left;
}

.grid_footer__right__second-row_center {
  grid-area: grid_footer__right__second-row_center;
}

.grid_footer__right__second-row_right {
  grid-area: grid_footer__right__second-row_right;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.flex p {
  width: 100%;
  padding-top: 0.5rem;
  font-weight: 700;
}
.flex a {
  width: 100%;
}

body {
  position: absolute;
  top: 0.25rem;
  width: 61.25rem;
  margin-left: 461px;
  background-color: #fafafa;
}

main {
  padding-top: 2rem;
  box-shadow: 0 0 10px 0 rgba(99, 99, 99, 0.2);
  background-color: #fff;
}

h3 {
  color: #b5050e;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

.buttons-block {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-left: 0.5rem;
}
.buttons-block .fas, .buttons-block .fa-angle-right {
  position: relative;
  left: 6rem;
  font-size: 1.5rem;
  color: #b5050e;
}
.buttons-block label {
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid #e0e0e0;
}
.buttons-block label:last-child {
  border-bottom: 0px solid;
}

h2 {
  color: #b5050e;
}

.page_alt {
  display: block;
  position: fixed;
  top: 0;
  right: 5px;
}
.page_alt a {
  font-family: timesnewroman;
  color: #666;
  text-decoration: underline;
}

.page_main {
  display: block;
  position: fixed;
  top: 0;
  right: 5px;
}
.page_main a {
  font-size: 1rem;
  font-family: timesnewroman;
  color: #666;
  text-decoration: underline;
}

._hidden {
  display: none;
}

._invisible {
  visibility: hidden;
}

input[type=checkbox] {
  display: none;
}

input[type=radio] {
  display: none;
}

label {
  cursor: pointer;
}

* {
  margin: 0px;
  text-decoration: none;
  font-family: arial;
}

a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=main.css.map */
