@import "_header";
@import "_main";
@import "_footer";

body {
    position: absolute;
    top: 0.25rem;
	width: 61.25rem;
	margin-left: 29rem;
	background-color: #fafafa;
}
main {
    padding-top: 2rem;
	box-shadow: 0 0 10px 0 hsla(0,0%,39%,.2);
	background-color: #fff;
}