@import "_header";
@import "_main";
@import "_footer";

body {
    position: absolute;
    top: 0.25rem;
	width: 61.25rem;
	margin-left: 29rem;
	background-color: #fafafa;
}
main {
    padding-top: 2rem;
	box-shadow: 0 0 10px 0 hsla(0,0%,39%,.2);
	background-color: #fff;
}
h3 {
	color: #b5050e;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
}
.buttons-block {
	display:flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	padding-left: 0.5rem;

	.fas, .fa-angle-right {
	    position: relative;
	    left: 6rem;
	    font-size: 1.5rem;
	    color: #b5050e;
    }

	label {
	    width: 100%;
	    padding: 0.5rem;
	    border-bottom: 1px solid #e0e0e0;
	}
	label:last-child {
	    border-bottom: 0px solid;
	}
}

