.grid__main {
    position: relative;
	display: grid;
    grid-template-columns: 100%;
	grid-template-rows: 0.5fr 1fr 2.5fr 0.5fr 1fr;
	grid-row-gap: 5rem;
	grid-template-areas:
	"grid__main_mini"
	"main__first-block_grid"
	"main__second-block_grid"
	"main__third-block_grid"
	"main__fourth-block_grid";
}

.grid__main_mini {
	grid-area: grid__main_mini;
}
.main__first-block_grid {
	grid-area: main__first-block_grid;
}
.main__second-block_grid {
	grid-area: main__second-block_grid;
}
.main__third-block_grid {
	grid-area: main__third-block_grid;
}
.main__fourth-block_grid {
	grid-area: main__fourth-block_grid;
}



.grid__main_mini {
	display: grid;
	grid-template-columns: 7fr 3fr;
	grid-template-rows: 50% 10% 40%;
	grid-column-gap: 1.1rem;
	grid-row-gap: 2rem;
	grid-template-areas:
	"images__block grid__main_mini__service-block"
	"aktuell_top-panel immobiliensuche"
	"aktuell immobiliensuche";
	border-bottom: 50px solid;
	border-image: url("../../images/border.png");
	border-image-slice: 0 0 50 0;
}

.images__block {
	grid-area: images__block;
}
.grid__main_mini__service-block {
	grid-area: grid__main_mini__service-block;
}
.aktuell_top-panel {
	grid-area: aktuell_top-panel;
}
.aktuell {
	grid-area: aktuell;
}
.immobiliensuche {
	grid-area: immobiliensuche;
}


.main__first-block_grid {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 1.1rem;
	grid-row-gap: 2rem;
	grid-template-areas:
	"main__first-block_left-column main__first-block_center-column main__first-block_right-column"
	". main__first-block__second-row_center-column main__first-block__second-row_right-column";
    border-bottom: 50px solid;
	border-image: url("../../images/border.png");
	border-image-slice: 0 0 50 0;
}

.main__first-block_left-column {
	grid-area: main__first-block_left-column;
}
.main__first-block_center-column {
	grid-area: main__first-block_center-column;
}
.main__first-block_right-column {
	grid-area: main__first-block_right-column;
}
.main__first-block__second-row_center-column{
	grid-area: main__first-block__second-row_center-column;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;

	a {
	    width: 100%;
	}
}
.main__first-block__second-row_right-column {
	grid-area: main__first-block__second-row_right-column;
}


.main__second-block_grid {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat 7(1fr);
	grid-column-gap: 1.1rem;
	grid-row-gap: 2rem;
	grid-template-areas: 
	"main__second-block_left-column main__second-block_center-column main__second-block_right-column"
	". main__second-block__second-row_center-column main__second-block__second-row_right-column"
	"main__second-block__third-row_left-column main__second-block__third-row_center-column main__second-block__third-row_right-column"
	". main__second-block__fourth-row_center-column main__second-block__fourth-row_right-column"
	"main__second-block__fifth-row_left-column main__second-block__fifth-row_center-column main__second-block__fifth-row_right-column"
	"main__second-block__sixth-row_left-column main__second-block__sixth-row_center-column main__second-block__sixth-row_right-column"
	". main__second-block__seventh-row_center-column main__second-block__seventh-row_right-column";
	border-bottom: 50px solid;
	border-image: url("../../images/border.png");
	border-image-slice: 0 0 50 0;
}

.main__second-block_left-column {
	grid-area: main__second-block_left-column;
}
.main__second-block_center-column {
	grid-area: main__second-block_center-column;
}
.main__second-block_right-column {
	grid-area: main__second-block_right-column;
}
.main__second-block__second-row_center-column {
	grid-area: main__second-block__second-row_center-column;
}
.main__second-block__second-row_right-column {
	grid-area: main__second-block__second-row_right-column;
}
.main__second-block__third-row_left-column {
	grid-area: main__second-block__third-row_left-column;
}
.main__second-block__third-row_center-column {
	grid-area: main__second-block__third-row_center-column;
}
.main__second-block__third-row_right-column {
	grid-area: main__second-block__third-row_right-column;
}
.main__second-block__fourth-row_center-column {
	grid-area: main__second-block__fourth-row_center-column;
}
.main__second-block__fourth-row_right-column {
	grid-area: main__second-block__fourth-row_right-column;
}
.main__second-block__fifth-row_left-column {
	grid-area: main__second-block__fifth-row_left-column;
}
.main__second-block__fifth-row_center-column {
	grid-area: main__second-block__fifth-row_center-column;

	div {
	    border-bottom: 1px solid #e0e0e0;
	}
}
.main__second-block__fifth-row_right-column {
	grid-area: main__second-block__fifth-row_right-column;

	div {
	    border-bottom: 1px solid #e0e0e0;
	}
}
.main__second-block__sixth-row_left-column {
	grid-area: main__second-block__sixth-row_left-column;
}
.main__second-block__sixth-row_center-column {
	grid-area: main__second-block__sixth-row_center-column;
}
.main__second-block__sixth-row_right-column {
	grid-area: main__second-block__sixth-row_right-column;
}
.main__second-block__seventh-row_center-column {
	grid-area: main__second-block__seventh-row_center-column;
}
.main__second-block__seventh-row_right-column {
	grid-area: main__second-block__seventh-row_right-column;

	.fas, fa-angle-right {
	    font-size: 0.8rem;
	    position: relative;
	    left: 0;
	}
}



.main__third-block_grid {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 1.1rem;
	grid-row-gap: 2rem;
	grid-template-areas: 
	"main__third-block_left-column main__third-block_center-column main__third-block_right-column"
	". main__third-block__second-row_center-column main__third-block__second-row_right-column";
	border-bottom: 50px solid;
	border-image: url("../../images/border.png");
	border-image-slice: 0 0 50 0;
}

.main__third-block_left-column {
	grid-area: main__third-block_left-column;
}
.main__third-block_center-column {
	grid-area: main__third-block_center-column;
}
.main__third-block_right-column {
	grid-area: main__third-block_right-column;
}
.main__third-block__second-row_center-column {
	grid-area: main__third-block__second-row_center-column;
}
.main__third-block__second-row_right-column {
	grid-area: main__third-block__second-row_right-column;
}



.main__fourth-block_grid {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 35% 35%;
	grid-column-gap: 1.1rem;
	grid-template-areas: 
	"main__fourth-block_left-column main__fourth-block_center-column main__fourth-block_right-column"
	". main__fourth-block__second-row_center-column main__fourth-block__second-row_right-column";
}

.main__fourth-block_left-column {
	grid-area: main__fourth-block_left-column;
}
.main__fourth-block_center-column {
	grid-area: main__fourth-block_center-column;
}
.main__fourth-block_right-column {
	grid-area: main__fourth-block_right-column;
}
.main__fourth-block__second-row_center-column {
	grid-area: main__fourth-block__second-row_center-column;
}
.main__fourth-block__second-row_right-column {
	grid-area: main__fourth-block__second-row_right-column;
}







.images_block {
    overflow-x: scroll;
	background-image: url("../../images/image-block/1.jpg") , url("../../images/image-block/2.jpg") , url("../../images/image-block/3.jpg") ,
	 url("../../images/image-block/4.jpg") , url("../../images/image-block/5.jpg") , url("../../images/image-block/6.jpg") ,
	 url("../../images/image-block/7.jpg") , url("../../images/image-block/8.jpg") ;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: local;
}

.aktuell {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: hidden;
    overflow-x: scroll;
    padding: 1rem;
    
    div {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;

        div {

            a {
                font-size: 0.85rem;
            }
        }
    }
    
	img {
	    width: 200px;
	    height: 150px;
	}
}
.aktuell_top-panel {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	border-bottom: 5px solid #e0e0e0;
    font-weight: 700;
	color: #253276;
}

.immobiliensuche {
    display: flex;
    flex-flow: row wrap; 
}

.main__second-block__seventh-row_right-column {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;

	a {
	    width: 100%;
	    font-size: 0.9rem;
	}
}


